@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat&family=Prata&display=swap');

body {
  margin: 0;
  font-family: 'Prata', Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
