$programacao-background:#D9F7E9;
$programacao-destaque:#57C278;

$frontend-background:#E8F8FF;
$frontend-destaque:#82CFFA;

$datascience-background:#F0F8E2;
$datascience-destaque:#A6D157;

$devops-background:#FDE7E8;
$devops-destaque:#E06B69;

$uxdesign-background:#FAE9F5;
$uxdesign-destaque:#DB6EBF;

$mobile-background:#FAE9F5;
$mobile-destaque:#FFBA05;

$inovation-background:#FFEEDF;
$inovation-destaque:#FF8A29;